<!DOCTYPE html>
<html>

<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8" />
    <link rel="stylesheet" href="/css/start" type="text/css">
        <link href="https://use.fontawesome.com/0cbbc226c1.css" rel="stylesheet" />

</head>

<body>
    <div class="wrapper">
        <h1>Upload file</h1>
        <form action="/upload" enctype="multipart/form-data" method="post">
            <input type="text" name="title" class="title" placeholder="type your title...">
            <label class="label-for-upload">
                <input type="file" name="upload" class="uploadfile">
                <i class="fa fa-upload fa-lg"></i> Upload
            </label>
            <button type="submit" value="Send" class="send">Send</button>
        </form>
    <button class="gallery"><a href="/gallery">Go to gallery</a></button>
    </div>
</body>

</html>